Assignment 1.

1) values:- 'hello', -87.8, 6,
expressions:- *, -, /, +

2) Variables are sysmbols that we can use to store data in a program.
   Strings are the data and we can use them to fill up a variable.

3) Three different data types are:
   a) Lists:- it is used for storing multiple data items in a single variable.
   b) Integer:- It can store only numerical values.
   c) Float:- It can store only floating values such as 12.22, 765.45, etc.

4) An expression is made up of variables, operators, and method incovations constructed according to the sysntax of the language, that evaluates to a single value.

5) An expression is something that can be reduced to value but statement cannot be reduced to value.

6) 23

In [1]:
bacon=22

In [2]:
bacon+1

23

7) same

In [3]:
'spam'+'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

8) Because, variable names cannot begin with a number.

9) int(), float() and str()

10) Because, 99 is an integer it cannot be concatenated with strings, if we have to concatenate it we have to do typecasting.